version: "3.7"

services:
  web:
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    command: sh entrypoint.sh
    volumes:
      - .:/fast_flat
    ports:
      - 80:8000
    env_file:
      - ./.env
    depends_on:
     - db
    links:
       - "db:db"

  db:
    restart: always
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    env_file:
      - .env

volumes:
  postgres_data:
